<h1>Edit Profile</h1>

<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h4>There were some errors:</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, url: profile_path, html: { method: :put }) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <small>(leave blank if you don't want to change it)</small>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: 'form-control', required: true %>
    <small>(we need your current password to confirm your changes)</small>
  </div>

  <%= fields_for :address, @user.address || @user.build_address do |a| %>
    <div class="form-group">
      <%= a.label :street %>
      <%= a.text_field :street, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= a.label :neighborhood %>
      <%= a.text_field :neighborhood, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= a.label :city %>
      <%= a.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= a.label :state %>
      <%= a.text_field :state, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= a.label :cep %>
      <%= a.text_field :cep, class: 'form-control', oninput: "fetchAddress(this.value)" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Back", user_path(@user), class: "btn btn-secondary" %>

<script>
  function fetchAddress(cep) {
    if (cep.length === 8) {
      fetch(`https://viacep.com.br/ws/${cep}/json/`)
        .then(response => {
          if (!response.ok) throw new Error("CEP não encontrado");
          return response.json();
        })
        .then(data => {
          if (data.erro) {
            throw new Error("CEP não encontrado");
          }
          document.getElementById("user_address_street").value = data.logradouro || '';
          document.getElementById("user_address_neighborhood").value = data.bairro || '';
          document.getElementById("user_address_city").value = data.localidade || '';
          document.getElementById("user_address_state").value = data.uf || '';
        })
        .catch(error => {
          alert("Erro ao encontrar endereço: " + error.message);
        });
    }
  }
</script>