<h1>New Order</h1>

<%= form_with model: @order, local: true do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :payment_method %>
    <%= f.select :payment_method, ['Credit Card', 'PayPal', 'Bank Transfer'], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Place Order', class: 'btn btn-primary' %>
  </div>
<% end %>