<h1>Products</h1>

<% if user_signed_in? && (current_user.admin? || current_user.vendor?) %>
  <%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
<% end %>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Category', new_category_path, class: 'btn btn-success' %>
  <%= link_to 'Manage Categories', categories_path, class: 'btn btn-info' %>
<% end %>

<div class="filters">
  <%= form_with(url: products_path, method: :get, local: true) do %>
    <div class="form-group">
      <%= label_tag :category_id, 'Category' %>
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), include_blank: 'Select Category', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :min_price, 'Min Price' %>
      <%= number_field_tag :min_price, params[:min_price], class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :max_price, 'Max Price' %>
      <%= number_field_tag :max_price, params[:max_price], class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :in_stock, 'In Stock' %>
      <%= check_box_tag :in_stock, 'true', params[:in_stock] == 'true', class: 'form-control' %>
    </div>
    <%= submit_tag 'Filter', class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="products">
  <% @products.each do |product| %>
    <div class="product" id="product_<%= product.id %>">
      <div class="card">
        <div class="card-header">
          <h2><%= product.name %></h2>
        </div>
        <div class="card-body">
          <p><%= product.description %></p>
          <p>Price: <%= number_to_currency(product.price) %></p>
          <p>Stock: <%= product.stock %></p>
          <%= link_to 'Show', product_path(product), class: 'btn btn-secondary' %>
          <%= button_to 'Add to Cart', cart_items_path(cart_item: { product_id: product.id, quantity: 1 }), method: :post, class: 'btn btn-primary' %>
          <% if user_signed_in? && (current_user.admin? || (current_user.vendor? && product.user == current_user)) %>
            <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning' %>
            <%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>